<div class="row">
  <div class="card-container col-10">
    <div class="col-md-4 text-center"> 
      <button class="start-button btn btn-primary">Start the Party!</button> 
    </div>
  </div>

  <div class="col-2">
    <h2>Users</h2>
    <dl class="row users">
    </dl>
  </div>
</div>
